{% extends 'base_dois.html' %}
{% load static bootstrap5 %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 ">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Faça o Login para aproveitar nossas ofertas!</h1>
      <p class="col-lg-10 fs-4">Se já tem um cadastro, complete seu login usando nome de usuário. Se não tem, não perca tempo e <a href="{% url 'registration' %}">cadastre-se agora.</a></p>
    </div>
  <div class="col-md-10 mx-auto col-lg-5">
    <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">Login</button>
      
    </form>
    
  </div>
</div>
{% endblock content %}

{% block scripts %}

{% endblock %}