/* styles.css */

/* Personalize a cor do triângulo do dropdown */
.navbar-dark .navbar-nav .nav-item.dropdown:hover .nav-link::after,
.navbar-dark .navbar-nav .nav-item.dropdown:focus .nav-link::after,
.navbar-dark .navbar-nav .nav-item.dropdown.show .nav-link::after {
  border-top-color: #fff;
  /* Cor desejada (branco) */
}


h5 {
  font-family: 'Blinker', sans-serif;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Recursive', sans-serif;
}


.icone {
  font-size: 50px; /* Ajuste o tamanho conforme necessário */
}