{% extends "base_adm.html" %}
{% load static bootstrap5 %}
{% block title %}Contratar{% endblock %}


{% block content %}

<div class="container">
    <h1>Contratar Carro</h1>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        
        <button class="btn btn-primary" type="submit">Alugar</button>
    </form>
</div>


{% endblock %}


{% block scripts %}

<script src="{% static 'js/calcular_dias.js' %}" defer></script>
<script src="{% static 'js/data.js' %}" defer></script>

{% endblock %}