{% load static bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>{% block title %}Base{% endblock %}</title>
</head>

<body>
    <header class="p-3 bg-danger text-white mb-5">

        <div class="container" class="p-3 text-bg-dark">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'home' %}"
                    class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-5">
                    <img src="{% static 'img/aluguer-de-carros.png' %}" alt="" width="40">
                </a>


                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

                    <li><a href="{% url 'todos_os_carros' %}" class="nav-link px-2 text-white active">Carros</a></li>
                    <li><a href="{% url 'todos_os_usuario' %}" class="nav-link px-2 text-white">Usuários</a></li>
                    <li><a href="{% url 'todos_os_contratos' %}" class="nav-link px-2 text-white">Contratos</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>

                    
                </ul>



                {% if user.is_authenticated %}
                <div class="dropdown text-end">
                    {% if user.locador.avatar %}
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">                        
                        <img src="{{ locador.avatar.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    {% else %}
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">                        
                    <img src="{% static 'img/perfil-de-usuario.jpg' %}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                {% endif %}
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">Novo Aluguél</a></li>
                        <li><a class="dropdown-item" href="#">Devolver Carro</a></li>
                        <li><a class="dropdown-item" href="{% url 'todos_os_carros' %}">Listar Carros</a></li>
                        <li><a class="dropdown-item" href="{% url 'cadastrar-carro' %}">Cadastrar Carro</a></li>
                        <li><a class="dropdown-item" href="{% url 'todos_os_usuario' %}">Listar Usuários</a></li>  
                        <li><a class="dropdown-item" href="{% url 'novo-usuario' %}">Cadastrar Usuário</a></li>                          
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                    </ul>


                </div>
                {% else %}

                <div class="text-end">
                    <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                    <a href="{% url 'registration' %}"><button type="button"
                            class="btn btn-warning">Cadastre-se</button></a>
                </div>

                {% endif %}

            </div>


        </div>

    </header>

    <div class="container">
        {% bootstrap_messages %}


    </div>


    {% block content %}
    <h1>Bloco de conteudo do site</h1>


    {% endblock%}

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Company, Inc</p>

            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="{% url 'lista_de_carros' %}"
                        class="nav-link px-2 text-body-secondary">Listar Carros</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Cadastrar Carro</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Termos de Uso</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Quem Somos</a></li>
            </ul>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    {% block scripts %}

    {% endblock %}


</body>

</html>